.blog-item-heading-container {
  @include base-border-radius();
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  background-color:rgb(214, 132, 132);
  padding: 10px;
  padding-top: 0px;
  margin: 10px 5px;
  border: 2px;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;

  .blog-item-link-container {
    font-size: 1.5em;
  }

  .blog-item-heading-title {
    color: rgb(255, 255, 255);
    padding: 10px 10px -10px 10px;
    margin: 0;
  }

  .blog-item-content {
    color: white;
    font-weight: 600;
    font-size: 1em;
    height: 100%;
    width: 100%;
  }
}

@media(max-width: 500px) {
  .blog-item-heading-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    .blog-item-heading-container {
      .blog-item-link-container {
        .blog-item-heading-title {
          .blog-item-content {
            width: 10%;
          }
        }
      }
    }
  }
}