body {
  margin: 0px;
  padding: 0px;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgb(223, 217, 217);
  margin: 5px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  // background-image: linear-gradient(#34e89e, #0f3443);
  // height: 100%;
}

@media(max-width: 500px) {

}