  
.homepage-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  
  .filter-links {
    display: flex;
    justify-content: space-around;
    margin: -5px;
    
    .btn {
      width: 100%;
      margin: 10px;
    }
  }
}

@media(max-width: 700px) {
  .homepage-wrapper {
    .filter-links {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      width: 594px;
      
      button {
        width: 100px;
        margin: 0;
        padding: 0;
      }


    }
  }
}

@media(max-width: 400px) {
  .homepage-wrapper {
    .filter-links {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      width: 365px;
    }
  }
}