html {
  // background-image: linear-gradient(#34e89e, #0f3443);
  // width: 100%;
  height: 100%;
}

.wrapper {
  // background-image: linear-gradient(#34e89e, #0f3443);
  // padding: 10px;

}
.content-page-wrapper {
  // width: 100vw;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);
  // border: 2px solid red;
  // background-image: linear-gradient(#34e89e, #0f3443);
  // margin-left: 45px;
  // margin-left: -50px;
  .helper-img {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 100px;
    // background-image: linear-gradient(#34e89e, #0f3443);

  }

  .contact-img {
    display: flex;
    justify-content: center;
    // padding: 20px;
    // margin-top: 100px;
    // background-image: linear-gradient(#34e89e, #0f3443);


  }

  .left-column {
    // width: 500px;
    // height: 500px;
    // border: 1px solid red;
    padding: 10px;
    border-radius: 3px;
    border: 5px solid white;
    border-radius: 150px;
    // background-image: linear-gradient(#34e89e, #0f3443);

  }

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    // background-image: linear-gradient(#34e89e, #0f3443);
    // margin: 15px;

    p {
      font-size: 1.5em;
    }

    li {
      font-size: 1.3em;
      font-weight: 400;
    }
  }

  .contact-bullet-points {
    width: 375px;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 21px;
    align-items: center;


    .bullet-point-group {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        font-size: 1.5em;
      }

      .icon {
        font-size: 2em;
        color: #d68484;
      }

      .text {
        font-size: 1.5em;
        font-weight: 900;
        margin-left: 21px;
      }
    }
  }
}

@media(max-width: 700px) {
  .content-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    
    .left-column  {
      width: 593px;
      height: 600px;
      
    }

    .right-column {
      width: 545.54;
      // align-items: center;
    }
  }
}

@media(max-width: 400px) {
  .content-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .left-column {
      justify-self: center;
      width: 365px;
      height: 350px;
    }

    // .right-column {
    //   width: 365.54;

    //   .contact-bullet-points {
    //     width: 170px;

    //     .bullet-point-group {
    //       width: 100%;
    //       justify-self: start;
    //     }
    //   }
    // }
  }
}