.DraftEditor-root {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 3px;
}

.rdw-image-modal {
  left: -96px;
}

.rdw-emoji-modal {
  left: -51px;
}

.rdw-embedded-modal {
  left: -6px;
}