.portfolio-manager-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 5px;

  .left-column {
    background-color: rgb(223, 217, 217);
  }

  .right-column {
    @include base-border-radius();
  }
}
 