.portfolio-detail-wrapper {
  width: 100vw;
  
  .banner {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  }

  .portfolio-test {
    width: 100%;
    padding-left: 10px;
    .portfolio-detail-description-wrapper {
      text-align: center;
      margin-top: 42px;
      display: flex;
      justify-content: center;

      .description {
        width: 700px;
        font-size: 2em;
        margin-bottom: 50px;
        display: grid;
      }
    }
  }

  .bottom-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .site-link {
      padding: 15px;
      background-color: #d68484;
      border-radius: 3px;
      text-decoration: none;
      color: white;
      transition: 0.5s ease-in-out;
      font-size: 1.2em;

      &:hover {
        background-color: #d66868;
      }
    }
  }
}

@media(max-width: 500px) {
    .portfolio-detail-wrapper {
      .banner {
        width: 560px;
      }
      .portfolio-test {
        width: 520px;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;

        .portfolio-detail-description-wrapper {
          .description {
            width: 100%;
            padding-left: 35px;
          }
        }
      }

      .bottom-content-wrapper {
        padding-left: 20px;
      }
    }
  }