.portfolio-sidebar-list-wrapper {
  .portfolio-item-thumb {
    padding: 21px;
    background-color: #d68484;
    @include base-border-radius();
    margin-top: 10px;
    margin-bottom: 10px;

    .portfolio-thumb-img img {
      @include base-border-radius();
      width: 100%;
    }

    .text-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        color: black;
        font-size: 2em;
      }

      .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        
        .action-edit {
          cursor: pointer;
          color: black;
          font-size: 1.5em;
          transition: 0.5 ease-in-out;

          &:hover {
            color: rgb(121, 196, 8);
          }
        }

        .action-delete {
          cursor: pointer;
          color: black;
          font-size: 1.5em;
          transition: 0.5 ease-in-out;

          &:hover {
            color: $warning;
          }
        }
      }
    }
  }
}